{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings in {{ category.name }}</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <img width= 200px src="{{ listing.image_url }}" alt="Product Image">
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                - Description: {{ listing.description }}<br>
                - Current Price: ${{ listing.current_price }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
