{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}iDiary - your personal diary{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="{% static 'script.js' %}"></script>
    <script>const csrftoken = "{{ csrf_token }}";</script>
</head>
<body>
    <header>
        <h1>iDiary</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="container">
            {% block content %}
            <!-- Content for child templates will go here -->
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; iDiary</p>
    </footer>

</body>
</html>
