{% extends "base.html" %}

{% block title %}iDiary| My Diary{% endblock %}

{% block content %}
    <h2>{{ user.username }}'s Diary</h2>

    <ul>
        {% for entry in user_entries %}
            <li>
                {{ entry.title }}
                <a href="{% url 'customize_entry' entry_id=entry.id %}" class="btn btn-secondary">Edit</a>
                <!-- Display other milestone fields here -->
            </li>
        {% endfor %}
    </ul>

    <!-- Button for creating a new milestone -->
    <a href="{% url 'create_entry' %}" class="btn btn-primary">Create Entry</a>
{% endblock %}
