{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Stock Symbol</label>
            <input type="text" name="symbol" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Number of Shares</label>
            <input type="number" name="shares" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
{% endblock %}